[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
	branch = develop
[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
	branch = v5.4.0
